<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h4>🌌Lords of the planets</h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/lords">👽Lords</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planets">🪐Planets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lords/lazy">Lazy lords</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lords/top-youngest">Top 10 youngest lords</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>