<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Lords</title>
    <th:block th:include="~{fragments/header :: header}">
    </th:block>
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <br>
    <form th:action="@{/lords/add}"
          th:object="${lord}" method="post" class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-text">Name</div>
                <input th:field="*{name}" type="text" class="form-control" required>
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-text">Age</div>
                <input th:field="*{age}" type="text" class="form-control">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <br>
    <table class="table table-primary table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lord, iStat : ${lords}" class="table-light">
            <td th:text="${iStat.count}" scope="row"/>
            <td th:text="${lord.name}"/>
            <td th:text="${lord.age}"/>
            <td>
                <a th:href="@{'/lords/edit/' + ${lord.id}}" style="text-decoration: none;">
                    <span class="material-icons" style="color: #0d6efd;">edit</span>
                </a>
                <a th:href="@{'/lords/delete/' + ${lord.id}}" style="text-decoration: none;">
                    <span class="material-icons" style="color: #0d6efd;">delete</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>