<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit planet</title>
    <th:block th:include="~{fragments/header :: header}">
    </th:block>
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <br>
    <form th:action="@{/planets/edit}"
          th:object="${planet}" method="post" class="row gy-2 gx-3 align-items-center">
        <input th:field="*{id}" type="text" class="form-control" hidden>
        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-text">Name</div>
                <input th:field="*{name}" type="text" class="form-control" required>
            </div>
        </div>
        <div class="col-auto">
            <select th:field="*{lord}" class="form-select">
                <option th:each="lord : ${lords}" th:value="${lord.id}" th:text="${lord.name}"></option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</div>

</body>
</html>